In [58]:
#dependencies
import pandas as pd
import numpy as np
import os

In [59]:
#Set path
uber_bike_path = os.path.join('uber_bike_data.csv')

#Read in csv file as dataframe
uber_df = pd.read_csv(uber_bike_path)

#List of columns
uber_df.values

/Users/danieltang/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

array([['431032', 1648, '8/29/2014 15:33', ..., 411, 'Subscriber',
        '94107'],
       ['383548', 617, '7/28/2014 17:35', ..., 259, 'Subscriber',
        '94403'],
       ['257887', 551, '4/22/2014 19:19', ..., 414, 'Subscriber',
        '94105'],
       ...,
       [324829, 1807, '6/15/2014 12:08', ..., 379, 'Customer', '94041'],
       [266083, 522, '4/30/2014 8:35', ..., 347, 'Subscriber', '94111'],
       [367598, 255, '7/17/2014 8:22', ..., 592, 'Subscriber', '94939']],
      dtype=object)

In [60]:
len(uber_df)

90231

In [61]:
uber_df.head(5)

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscriber Type,Zip Code
0,431032,1648,8/29/2014 15:33,Steuart at Market,74,8/29/2014 16:00,San Francisco Caltrain (Townsend at 4th),70,411,Subscriber,94107
1,383548,617,7/28/2014 17:35,Steuart at Market,74,7/28/2014 17:45,San Francisco Caltrain (Townsend at 4th),70,259,Subscriber,94403
2,257887,551,4/22/2014 19:19,Post at Kearny,47,4/22/2014 19:28,South Van Ness at Market,66,414,Subscriber,94105
3,334581,327,6/22/2014 19:36,5th at Howard,57,6/22/2014 19:42,2nd at Folsom,62,553,Subscriber,94103
4,268757,382,5/1/2014 19:37,Clay at Battery,41,5/1/2014 19:44,Market at 4th,76,501,Subscriber,94612

In [62]:
#rename the columns and remove whitespaces
uber_df = uber_df.rename(columns={'Trip ID': 'trip_id', 'Duration': 'duration', 'Start Date': 'start_date', 
                                 'Start Station': 'start_station', 'Start Terminal': 'start_terminal', 
                                 'End Date': 'end_date', 'End Station': 'end_station', 'End Terminal': 'end_terminal',
                                 'Bike #': 'bike_num', 'Subscriber Type': 'subscriber_type', 'Zip Code': 'zip_code'})

In [63]:
uber_df.head(10)

,trip_id,duration,start_date,start_station,start_terminal,end_date,end_station,end_terminal,bike_num,subscriber_type,zip_code
0,431032,1648,8/29/2014 15:33,Steuart at Market,74,8/29/2014 16:00,San Francisco Caltrain (Townsend at 4th),70,411,Subscriber,94107
1,383548,617,7/28/2014 17:35,Steuart at Market,74,7/28/2014 17:45,San Francisco Caltrain (Townsend at 4th),70,259,Subscriber,94403
2,257887,551,4/22/2014 19:19,Post at Kearny,47,4/22/2014 19:28,South Van Ness at Market,66,414,Subscriber,94105
3,334581,327,6/22/2014 19:36,5th at Howard,57,6/22/2014 19:42,2nd at Folsom,62,553,Subscriber,94103
4,268757,382,5/1/2014 19:37,Clay at Battery,41,5/1/2014 19:44,Market at 4th,76,501,Subscriber,94612
5,363782,978,7/15/2014 7:45,San Francisco Caltrain (Townsend at 4th),70,7/15/2014 8:01,Embarcadero at Vallejo,48,420,Subscriber,94025
6,351995,1428,7/6/2014 13:25,Embarcadero at Vallejo,48,7/6/2014 13:49,Embarcadero at Vallejo,48,408,Subscriber,94103
7,367842,535,7/17/2014 9:28,Harry Bridges Plaza (Ferry Building),50,7/17/2014 9:37,2nd at Townsend,61,452,Subscriber,94579
8,278236,366,5/9/2014 13:51,Embarcadero at Folsom,51,5/9/2014 13:58,2nd at Townsend,61,336,Subscriber,94158
9,411290,766,8/16/2014 8:39,San Francisco Caltrain 2 (330 Townsend),69,8/16/2014 8:52,Powell Street BART,39,637,Subscriber,94102

In [64]:
uber_df.dtypes

trip_id            object
duration            int64
start_date         object
start_station      object
start_terminal      int64
end_date           object
end_station        object
end_terminal        int64
bike_num            int64
subscriber_type    object
zip_code           object
dtype: object

In [65]:
#convert start_date and end_date into date_time format
uber_df['start_date'] = pd.to_datetime(uber_df['start_date'])
uber_df['end_date'] = pd.to_datetime(uber_df['end_date'])

In [66]:
#add new columns extracting start_hour and end_hour
uber_df['start_hour'] = uber_df['start_date'].dt.hour
uber_df['end_hour'] = uber_df['end_date'].dt.hour

In [67]:
#add new columns extracting month
uber_df['start_month'] = uber_df['start_date'].dt.strftime('%b')
uber_df['end_month'] = uber_df['end_date'].dt.strftime('%b')

In [68]:
#add a new column that converts duration to Hour:Minute format
uber_df['duration_hour_min'] = pd.to_datetime(uber_df['duration'], unit='s').dt.strftime('%H:%M')

In [73]:
uber_df = uber_df[uber_df.zip_code != 'nil']

In [74]:
len(uber_df)

88077